.container-fluid {
  background-image: linear-gradient(bottom, rgb(255,255,255) 20%, rgb(205,232,250) 60%);
  background-image: -o-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(205,232,250) 60%);
  background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(205,232,250) 60%);
  background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(205,232,250) 60%);
  background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 20%, rgb(205,232,250) 60%);

  background-image: -webkit-gradient(
  linear,
  left bottom,
  left top,
  color-stop(0.2, rgb(255,255,255)),
  color-stop(0.6, rgb(205,232,250))
  );
}
