<!doctype html>
<html lang='en' ng-app="Random">
  <head>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css' />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.2/angular.min.js'></script>
    <script src='angular-resource.js'></script>
    <script src='app.js'></script>
  </head>
  <body>
    <div class='container-fluid' ng-controller="RandomController">
      <div class='row-fluid'>
        <div class='span12'>
          <form class="form-horizontal">
            <div ng-show='refresh'>
              <label>canned</label>
              <select name='canned' ng-model='canned' ng-options='c for c in cannedData'></select>
              <label>url</label>
              <input type='text' ng-model='url' />
              <label>text</label>
              <textarea rows='4' ng-model='text'></textarea>
            </div>
            <label>chunk</label>
            <select name='chunk' ng-model='chunk' ng-options='c for c in chunks'></select>
            <label class='checkbox'><input type='checkbox' ng-model='refresh'>refresh</label>
            <label class='checkbox'><input type='checkbox' ng-model='debug'>debug</label>
            <button class="btn" ng-click="randomize()"><i class="icon-repeat"></i>random</button>
          </form>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <p class='lead'>{{random}}</p>
        </div>
      </div>
      <div class='row-fluid' ng-show='debug'>
        <div class='span12'>
          <pre>{{json}}</pre>
        </div>
      </div>
    </div>
  </body>
</html>
