<!doctype html>
<html lang='en' ng-app="Markov">
  <head>
    <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css' />
    <link rel='stylesheet' href='css/app.css' />
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.2/angular.min.js'></script>
    <script src='js/angular-resource.js'></script>
    <script src='js/app.js'></script>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
    <div class='container-fluid' ng-controller="MarkovController">
      <div class='row-fluid'>
        <div class='span12'>
          <form class="form-horizontal">
            <select ng-model='chunk' ng-options='o for o in chunks'></select>
            <button class="btn" ng-click="randomize()"><i class="icon-repeat"></i></button>
            <label class='checkbox'><input type='checkbox' ng-model='source'>source</label>
            <span ng-show='source'>
              <select ng-model='init' ng-options='o for o in inits'></select>
              <span ng-show="sourceType('text')">  
                <select name='text' ng-model='text' ng-options='o for o in texts'></select>
              </span>
              <span ng-show="sourceType('paste')">  
                <textarea rows='4' ng-model='text'></textarea>
              </span>
              <span ng-show="sourceType('url')">  
                <input type='paste' ng-model='url' />
              </span>
            </span>
            <label class='checkbox'><input type='checkbox' ng-model='debug'>debug</label>
          </form>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='span12'>
          <p class='lead'>{{random}}</p>
        </div>
      </div>
      <div class='row-fluid' ng-show='debug'>
        <div class='span12'>
          <pre>{{json}}</pre>
        </div>
      </div>
    </div>
  </body>
</html>
